{% extends 'RUser/Header.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
        .style7 {color: #FFFFFF}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF ASPECT BASED SENTIMENT ANALYSIS  </p>
                            <hr>

                                {% csrf_token %}
                                <table width="992" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style4">ENTER DATASETS DETAILS HERE !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td width="289" height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter pid</div></td>
                                    <td width="200"><input type="text" name="pid"></td>
                                    <td width="340" bgcolor="#FF0000"><div align="center" class="style4">Enter ProductId</div></td>
                                    <td width="273"><input type="text" name="ProductId"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">Enter Post_Review</div></td>
                                    <td><input name="Post_Review" type="text"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter Platform</div></td>
                                    <td><input type="text" name="Platform"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter Rating</div>
                                    </div></td>
                                    <td><input type="text" name="Rating"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">Enter Date</div></td>
                                    <td><input type="text" name="Date"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">
                                      <div align="center">Enter Helpful</div>
                                    </div></td>
                                    <td><input type="text" name="Helpful"></td>
                                    <td bgcolor="#FFFFFF"><div align="center" class="style4"></div></td>
                                    <td><input name="submit" type="submit" class="style1" value="Predict"></td>
                                  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="844" height="71" border="0" align="center" >
                                    <tr><td width="632" bgcolor="#FF0000"><div align="center"><span class="style6">PREDICTED ASPECT BASED SENTIMENT ANALYSIS </span> <span class="style7">:: --&gt; </span></div></td>



                                      <td width="202" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>